@use 'sass:list';

.hiddenleaders_popin {
  position: relative;
  flex-shrink: 0;
  z-index: 2000;
  //padding: 0;
  &#popin_iconOverview {
    width: 375px;
  }
  &#popin_winConditions {
    width: 350px;
  }
  //width: 20%; 
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  background-color: white;

  .hiddenleaders_popin_closeicon {
    background-color: #60322e;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 100%;
    color: white !important;

    &:hover {
      text-decoration: none;
      color: #ccc !important;
      transform: scale(1.1);
    }

    i {
      margin-top: -2px;
    }
  }

  .hiddenleaders_popin_contents {
    padding: 10px;

    .helper-classes {
      display: flex;
      flex-flow: column;


      .helper-classes-row {
        //margin: 10px 0px;
        padding: 5px;
        background: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-flow: row;
        align-items: center;
        
        &[data-guardian="0"] {
          display: none;
        }

        .helper-classes-column {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          width:25%;
          padding: 0 8px;

          strong {
            text-align: center;
          }

          &[data-guardian="0"] {
            display: none;
          }

          // @for $i from 1 through 5 {
          //   &[data-class="#{$i}"] .helper-classes-symbol {
          //     background-image: url("img/fl_factions.png");
          //     background-position-x: calc(($i - 1) * 100% / 4);
          //   }
          // }

          &[data-class="1"] {
            .helper-classes-symbol {
              background-image: url("img/fl_factions.png");
              background-position-x: 0%;
            }
            strong { color: #030303; }
          }
          &[data-class="2"] {
            .helper-classes-symbol {
              background-image: url("img/fl_factions.png");
              background-position-x: 75%;
            }
            strong { color: #0d66dad5; }
          }
          &[data-class="3"] {
            .helper-classes-symbol {
              background-image: url("img/fl_factions.png");
              background-position-x: 25%;
            }
            strong { color: #d30606; }
          }
          &[data-class="4"] {
            .helper-classes-symbol {
              background-image: url("img/fl_factions.png");
              background-position-x: 50%;
            }
            strong { color: #4fc720; }
          }
          &[data-class="5"] {
            .helper-classes-symbol {
              background-image: url("img/fl_factions.png");
              background-position-x: 100%;
            }
            strong { color: #812859; }
          }
        }
        .helper-classes-desc {
          flex-grow: 1;
          padding: 0px 10px;

          p {
            font-size:14px;
          }
          //text-align: center;
        }

        .helper-classes-symbol {
          width: 40px;
          height: 40px;
          flex-shrink: 0;
          background-size: auto 100%;
          background-image: url("img/icons.png");

          $icons: ( 'graveyard', 'tavern', 'harbor', 'wilderness', 'faceup', 'facedown', 'player');

          @each $icon in $icons {
            &.#{$icon} {
              background-position-x: calc((list.index($icons, $icon) - 1) * 100% / 6);
            }
          }
        }

        .wincon-classes-image {
          flex-shrink: 0;
          background-size: 100% auto;
          background-image: url("img/win-conditions.png");
          width: 75%;
          height: 50px;
        }
        #wincon-1 { background-position-y: 0%; }
        #wincon-2 { background-position-y: 25%; }
        #wincon-3 { background-position-y: 50%; }
        #wincon-4 { background-position-y: 75%; }
        #wincon-5 { background-position-y: 100%; }
      }
    }
  }
}


// .modal_open {
//    height: 100vh;
//    width: 100vw;
//    overflow-y: hidden;
//    position: fixed;

//    #modal-display {
//       display: flex;
//    }
// }

// #modal-display {
//    display: none;
//    flex-direction: column;
//    position: absolute;
//    left: 0;
//    top: 0;
//    right: 0;
//    height: 100vh;
//    background-color: rgba(0, 0, 0, 0.867);
//    z-index: 10000;
//    justify-content: center;
//    align-items: center;
//    --cardwidth: 277.5px;
//    --cardheight: 390px;

//    #modal-display-close {
//       color: white;
//       font-size: 32px;
//       margin-left: 320px;
//       z-index: 100;
//       margin-top: -450px;
//       position: absolute;
//    }

//    @media only screen and (min-width: 700px) {
//       //   .kaKarmicLadder {
//       //     // transform: scale(1.25);
//       //     zoom: 1.25;
//       //   }
//    }

//    @media only screen and (min-width: 970px) {
//       //   .kaKarmicLadder {
//       //     // transform: scale(1.5);
//       //     zoom: 1.5;
//       //   }
//    }
// }

// .desktop_version.modal_open {
//    #modal-display-card {
//       transform: scale(1.5);
//    }
// }